charset-normalizer==3.3.2
et-xmlfile==1.1.0
exceptiongroup==1.2.2
iniconfig==2.0.0
markdown-it-py==3.0.0
mdurl==0.1.2
mypy==1.11.1
mypy-extensions==1.0.0
openpyxl==3.1.5
packaging==24.1
pluggy==1.5.0
Pygments==2.18.0
pytest==8.3.2
rich==13.7.1
tabulate==0.9.0
tomli==2.0.1
typing_extensions==4.12.2
